*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Montserrat', sans-serif;
    &:focus,
    &:active{
        outline: none;
    }
}
body{
    position: relative;
}
.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}
.wrapper{
    margin-left: auto;
    margin-right: auto;
    max-width: 580px;
    position: relative;
}
html{
    color: #000;
    &.dark{
        color: #fff;
        body{
            background: #171618;
        }
        header{
            background: url('../img/header-dark.png') top / cover no-repeat;
        }
        main{
            background-image: url('../img/background-dark.png');
        }
        .avatar,
        .small{
            background: rgba(41, 39, 48, 0.5);
            border: 1px solid #484848;
            box-shadow: 0px 21px 23px rgba(0, 0, 0, 0.03);
            backdrop-filter: blur(16px);
        }
        .item{
            padding: 12px 15px;
            background: rgba(41, 39, 48, 0.5);
            border: 1px solid #484848;
            box-shadow: 0px 21px 23px rgba(0, 0, 0, 0.03);
            backdrop-filter: blur(16px);
            border-radius: 10px;
            &__title{
                color: #fff;
            }
            &__p{
                color: #fff;
            }
        }
    }
}
header{
    height: 150px;
    background: url('../img/header.png') top / cover no-repeat;
}
main{
    padding-top: 135px;
    background-image: url('../img/background.png') center / cover no-repeat;
    padding-bottom: 80px;
    padding-top: 150px;
    background-size: 100% auto;
    background-position: center center;
}
.top{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    bottom: -85px;
    column-gap: 2px;
}
.avatar, .small{
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #FAEAFF;
    box-shadow: 0px 21px 23px rgba(0, 0, 0, 0.03);
    backdrop-filter: blur(16px);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.small{
    width: 60px;
    min-width: 60px;
    height: 60px;
    padding: 15px;
    img{
        max-width: 100%;
    }
}
.avatar{
    width: 170px;
    min-width: 170px;
    height: 170px;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.title{
    font-weight: 600;
    line-height: 33px;
    text-align: center;
    line-height: 120%;
    font-size: 36px;
    margin-bottom: 15px;
}
.desc{
    max-width: 966px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 16px;
    line-height: 160%;
}
.items{
    max-width: 530px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    margin-bottom: 40px;
    margin-top: 29px;
}
.item{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #FAEAFF;
    box-shadow: 0px 21px 23px rgba(0, 0, 0, 0.03);
    backdrop-filter: blur(16px);
    padding: 15px 35px;
    width: 100%;
    border-radius: 10px;
    column-gap: 30px;
    text-decoration: none;
    &:not(:last-of-type){
        margin-bottom: 10px;
    }
    &__title{
        font-weight: 400;
        line-height: 24px;
        color: #000000;      
        margin-bottom: 5px; 
        font-size: 18px;
    }
    &__p{
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        opacity: 0.5;
    }
}
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    .container{
        div{
            border-top: 1px solid #00000010;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 30px 15px;
        }
        p{
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            opacity: 0.6;
        }
    }
}

@media (max-width: 1700px) {
    main{
        background-size: auto 100%;
    }
}

@media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
}
  
@media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}